FLUENCY_MODEL_PATH=models/fluency_rf_model.pkl
FLUENCY_SCALER_PATH=models/fluency_scaler.pkl
RHYTHM_MODEL_PATH=models/rhythm_xgb_model.pkl
RHYTHM_SCALER_PATH=models/rhythm_scaler.pkl
INTERNAL_API_KEY=
AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=eastus
MONGODB_URL=
COLLECTION_NAME=
LLM_FEEDBACK_SERVICE_URL=https://llm-service-production-7ad5.up.railway.app/